@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

html {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Nunito";
}

body {
  margin: 0;
  height: 100%;
}

.main-header {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 70px;
}

.title {
  padding: 25px;
  color: #013a67;
  font-weight: bolder;
}

.filter-input {
  margin-bottom: 25px;
  height: 30px;
  width: 300px;
  background-color: white;
  outline-color: #00b0a6;
  border-color: #00b0a6;
  text-align: center;
}

.main-content {
  border-top: 3px #055d6b solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends {
  padding: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  color: white;
}

.friends img {
  width: 35px;
  padding: 10px;
  background: white;
  border-radius: 100%;
}

.friendCard {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  background: #00b0a6;
  border-radius: 15px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.input-text {
  margin: 0 30px;
  height: 40px;
  padding: 10px;
  border: 3px #00b0a6 solid;
  border-radius: 15px;
  outline-color: #055d6b;
}

.input-sender {
  margin: 0 30px;
  height: 5px;
  padding: 10px;
  border: 3px #00b0a6 solid;
  border-radius: 10px;
  outline-color: #055d6b;
  text-align: center;
}

.add-new-message {
  display: flex;
  flex-direction: column;
  height: 130px;
  gap: 8px;
  padding: 30px 30px 0;
}

.add-new-message-btn {
  padding: 15px;
  width: 200px;
  font-size: 16px;
  background-color: #00b0a6;
  box-shadow: 0 4px 15px 0 rgba(17, 161, 132, 0.75);
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 15px;
  align-self: center;
}

.messageCard {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px #00b0a6 solid;
  border-radius: 15px;
  color: #008089;
  cursor: pointer;
}

.messageCard:hover {
  transform: translate(0, -5px);
  background-color: #00b0a70f;
}

.messageCard:hover span {
  display: none;
}

.messageCard:hover:before {
  content: "Delete this post";
  padding: 15px;
  display: flex;
  align-self: flex-end;
  font-weight: bold;
}

.messageCard :first-child {
  font-weight: 700;
  color: #013a67;
}

.messageCard :last-child {
  color: #00b0a6;
  font-size: smaller;
  font-style: italic;
}

.messages-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  width: 100%;
  padding: 20px 0 20px;
  background: #00b0a70f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.img-gallery {
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main-footer {
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background: #055d6b;
  color: white;
  font-size: 0.7em;
  text-align: center;
}

.main-footer a {
  color: white;
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  .main-header {
    width: calc(100% - 180px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  .main-logo {
    flex-direction: row;
  }

  .logo img {
    width: 70px;
  }

  .filter-input {
    margin: 0;
  }

  .main-content {
    height: 720px;
    display: flex;
    flex-direction: row;
    width: 100%;

    margin-bottom: 25px;
  }

  .friends {
    width: 25%;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .messages-list {
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .messages {
    height: 720px;
    width: 33%;
    flex-grow: 1;
    background-color: white;
  }

  .gallery {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .main-footer {
    margin-top: 30px;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
